---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
import Game from '../components/Game.tsx';
---

<Layout title="Jugar | Pixel Forge" description="Jugar a Pixel Forge">
    <div class="container">
      <PageHeader regularText="Jugar" highlightedText="Pixel Forge" />

      <Game client:only="react" />
    </div>
</Layout>

<style>
</style>
