---
// Importamos los estilos del componente
import '../styles/components/header.css';
---

<header class="header">
  <div class="container">
    <div class="flex justify-between items-center">
      <div class="logo">
        <a href="/" class="text-xl font-bold" title="Pixel Forge">
          <img src="/Logo-Pixel-Forge.webp" alt="Pixel Forge Logo" width="80" height="58">
        </a>
      </div>
      
      <button id="menu-toggle" class="menu-toggle" aria-label="Toggle menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      
      <nav class="main-nav">
        <ul class="flex gap-6">
          <li><a href="/" class="nav-link">Home</a></li>
          <li><a href="/cartas" class="nav-link">Cartas</a></li>
          <li><a href="/como-jugar" class="nav-link">Cómo jugar</a></li>
          <li><a href="/jugar" class="nav-link">Jugar</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuToggle = document.getElementById('menu-toggle');
    const mainNav = document.querySelector('.main-nav');
    
    menuToggle?.addEventListener('click', () => {
      mainNav?.classList.toggle('active');
      menuToggle.classList.toggle('active');
    });
  });
</script>