---
---

<article id="hero">
	<img src="/Logo-Pixel-Forge.webp" alt="Pixel Forge Logo" />
	<div>
		<h1 class="text-3xl">Bienvenido a la forja, Pixel Master</h1>
		<p>Te presentamos <strong>Pixel Forge</strong>, un proyecto de juego de cartas intercambiables creado por el equipo de GTM. </p>
	</div>
</article>

<style>
	#hero {
		position: relative;
		width: 100%;
		background-size: cover;
		background-position: center;
		background-image: url("/background.webp");
		text-align: center;
		padding: var(--space-12);
    margin-top: -115px;
		img {
			height: auto;
			object-fit: cover;
			z-index: 2;
			position: relative;
			margin: var(--space-12) auto 0;
			max-width: 300px;
		}

		> div {
			position: relative;
			z-index: 2;
			max-width: var(--container-md);
			width: 100%;
			margin: 0 auto;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
		}
	}

	#background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
</style>
